footer {
  position: fixed;
  bottom: 0;
  width: 96%;
  background-color: lightgray;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(161, 159, 159);
  color: white;
}

footer a {

  color: white;
  text-decoration: none;
}
